
* {
    padding: 0;
}

body {
    width: 80%;
    margin: 0 auto;
}


body {
    width: 80%;
    margin: 0 auto;
}


header {
    text-align: center;
    background-color: purple;
    color: white;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    display: flex;
    justify-content: space-between;
}

.left-column {
    width: 70%;
}

.right-column {
    width: 25%;
}

footer {
    text-align: center;
    background-color: purple;
    color: white;
    padding: 10px 0;
}
